.body {
    height: 100vh;
}

.login__header {
    background-color: #282830;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    color: #fff;
    padding: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

.login__title {
    /*font-size: 16px;*/
    font-size: 1rem;
    margin: 0;
}

.login__body {
    background-color: #fff;
    /*border: 1px solid  #282830;*/
    /*border-bottom:0;*/
    padding: 3em 1.5em;
    position: relative;
}
.login__body::before {
    background-color: #fff;
    content: '';
    height: 0.5em;
    left: 50%;
    margin-left: -0.25em;
    margin-top: -0.25em;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 0.5em;
}

.signInForm Input[name="username"],
.signInForm Input[name='password'] {
    border: 0.0625em solid #e5e5e5;
    padding: 1em 1.25em;
}

.signInForm Input[name="username"] {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

.signInForm Input[type='password'] {
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    /*border-top: 0;*/
}

.login__footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
    /*border: 1px solid #5E5E5E;*/
    /*border-top: 0;*/
}
.btnC {
background-color:  #282830 !important;
border: black !important;
}

.btnC:hover {
background-color: #807D7E !important;
}
.signInForm {
    border: 1px solid #5E5E5E;
}
.login__header, .signInForm{
    box-shadow:3px 3px 5px #807D7E;
}