.CardFont{
    font-size: 2vh;
    text-align: center;
    /*padding: 2%;*/
    padding: 10% !important;
    margin: 5%;
}
.CardFont .CardTitle{
    margin-bottom:20%;
}

.AddButton{
    /*display: inline-block;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*position: absolute;*/
    /*!*bottom: 30%;*!*/
    /*!*margin: 5% ;*!*/
    /*z-index: 100;*/
    /*height: 70%;*/
    width: 33% !important;
    font-size: 1.5rem !important;
    padding:7%  !important;
    border-radius: 100% !important;
    /*background-color: #e91e63 !important;*/
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.58);
    /*-webkit-backface-visibility: hidden;*/
    /*backface-visibility: hidden;*/
    /*-webkit-transform: scale(0.92);*/
    /*transform: scale(0.92);*/
}

.CardBtn{
    border: 1px solid rgba(0,0,0,0) !important;
}