.text{
    font-size: 2rem;
    margin-bottom: 100px;
}

label {
    /*margin: 15px;*/
}

.signUpForm {
    /*position: relative;*/

    /*!*top: calc(50% - 10%);*!*/
    /*left: calc(50% - 15%);*/
    /*margin: 50% auto;*/
    /*overflow-x: hidden;*/
    /*transform: translate(-20%,80%);*/
    /*width: 100%;*/
    /*height:100%;*/
    /*top:100%;*/
    /*transform: translateY(-50%);*/
    /*border: 1px solid gray;*/
    /*padding:15% 5%;*/
}
.SignUp-col{
    position: relative;
    margin: calc(50% - 30%) auto;

    /*top:50%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*vertical-align: middle;*/
}
/*.sign-border{*/
    /*!*border: 1px solid #dee2e6  !important;*!*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*padding: 10%;*/
/*}*/
/*.formGroup Col{*/
    /*position: absolute;*/
    /*left:50%;*/
/*}*/
/*.button {*/
    /*margin-bottom: 3px;*/
/*}*/

/*.btnC {*/
    /*background-color: #19090C !important;*/
    /*border: black !important;*/
/*}*/

/*.btnC:hover {*/
    /*background-color: #020D27 !important;*/
/*}*/
html, html div{
    /*background-color: floralwhite;*/
}