body{

    /*background: #1c1b1b;*/
    color:#666;
    /*   font-family: "Arial", sans-serif; */
    /*font-family: 'Lobster', cursive;*/
}
h1{
    text-align: center;
    /*color: #fff;*/
    color: black;
    font-weight: 600;
    padding-top: 10%;
}
/*.clearfix{*/
    /*clear: both;*/
/*}*/
.wrapper{
    width: 350px;
    /*overflow: auto;*/
    margin: calc(50% - 35%) auto;
    /*margin: 40px auto;*/
    /*background: #666;*/
    background: #CCCCCC ;
    padding-bottom: 40px;
    border-radius: 10px;
    /*overflow-x:hidden ;*/

}
.board{
    margin: 7% auto;
}
.board li{
    float: left;
    margin: 10px;
    height: 70px;
    width: 70px;
    font-size: 2.5rem;
    /*background: #333;*/
    /*background:#5E5E5E;*/
    background:#F6F9F9;
    /*color: #ccc;*/
    color: black;
    list-style: none;
    text-align: center;
    border-radius: 5px;
}
/*.boardbtn li{*/
    /*float: left;*/
    /*margin: 10px;*/
    /*height: 70px;*/
    /*width: 70px;*/
    /*font-size: 2.5rem;*/
    /*background: #333;*/
    /*color: #ccc;*/
    /*list-style: none;*/
    /*text-align: center;*/
    /*border-radius: 5px;*/
/*}*/
.board li:hover, .reset:hover{
    cursor: pointer;
    /*background: #000;*/
    background: #5E5E5E;
    color:white;
}

footer{
    /*display: block;*/
    width: 100%;
    text-align: center;
    padding-top: 25vh;
}
.btnRow{
    width: 100%;
    margin: 0;
}
.reset{
    border: 0;
    /*background: #444444;*/
    background: #5E5E5E;
    color: #fff;
    width: 70%;
    margin-top: 3rem;
    /*padding: 15px;*/
    border-radius: 5px;
    /*font-size: 20px;*/

    /*content: '';*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-width: 1em;*/
    /*border-color: transparent;*/
    /*border-style: solid;*/
    /*border-left-color: #2c3e50;*/

}
/*a{*/
    /*text-decoration: none;*/
    /*color: #fff;*/
    /*font-family: 'Lobster', cursive;*/
/*}*/
.functionsView_img{
    height: 70px;
    width: 70px;
}

.start{
    /*width: 0px;*/
    /*height: 0px;*/
    border-color: transparent;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-left-color: yellow;
    border-top-color: rgba(255, 255, 0, 0);
    border-bottom-color: rgba(255, 255, 0, 0);
}
.triangle{
    display: inline-block;
}
.triangle.right {
    width: 0;
    height: 0;
    margin-top: 3rem;
    margin-right: 3rem;
    border-color: transparent;
    border-style: solid;
    border-width: 17px 0 17px 32px;
    border-left-color: green;
    border-top-color: rgba(255, 255, 0, 0);
    border-bottom-color: rgba(255, 255, 0, 0);

}
.triangle.right:hover{
    border-left-color: #376E51 ;
    cursor: pointer;
}

.rectangle{
    display: inline-block;
}
.rectangle.stop{
    width: 2rem;
    height: 2rem;
    margin-top: 3rem;

    background-color: red;
    /*position: absolute;*/
}
.rectangle.stop:hover{
    background-color: #9F0302 ;
    cursor: pointer;
}